--
-- PostgreSQL database dump
--

\restrict FOfxoqU2eIEzDg4eUWQMBDcN6cpV4rzQLpxbSBOypK7U042fhFQrkW4KqlEy9wf

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: breathing_exercises; Type: TABLE; Schema: public; Owner: cesizen
--

CREATE TABLE public.breathing_exercises (
    id integer NOT NULL,
    title text NOT NULL,
    description text,
    inhale_seconds integer NOT NULL,
    hold_seconds integer NOT NULL,
    exhale_seconds integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.breathing_exercises OWNER TO cesizen;

--
-- Name: breathing_exercises_id_seq; Type: SEQUENCE; Schema: public; Owner: cesizen
--

CREATE SEQUENCE public.breathing_exercises_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.breathing_exercises_id_seq OWNER TO cesizen;

--
-- Name: breathing_exercises_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cesizen
--

ALTER SEQUENCE public.breathing_exercises_id_seq OWNED BY public.breathing_exercises.id;


--
-- Name: schema_migrations; Type: TABLE; Schema: public; Owner: cesizen
--

CREATE TABLE public.schema_migrations (
    id integer NOT NULL,
    filename text NOT NULL,
    run_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.schema_migrations OWNER TO cesizen;

--
-- Name: schema_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: cesizen
--

CREATE SEQUENCE public.schema_migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.schema_migrations_id_seq OWNER TO cesizen;

--
-- Name: schema_migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cesizen
--

ALTER SEQUENCE public.schema_migrations_id_seq OWNED BY public.schema_migrations.id;


--
-- Name: user_sessions; Type: TABLE; Schema: public; Owner: cesizen
--

CREATE TABLE public.user_sessions (
    id integer NOT NULL,
    user_id integer NOT NULL,
    exercise_id integer NOT NULL,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    duration_seconds integer,
    notes text
);


ALTER TABLE public.user_sessions OWNER TO cesizen;

--
-- Name: user_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: cesizen
--

CREATE SEQUENCE public.user_sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_sessions_id_seq OWNER TO cesizen;

--
-- Name: user_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cesizen
--

ALTER SEQUENCE public.user_sessions_id_seq OWNED BY public.user_sessions.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: cesizen
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email text NOT NULL,
    name text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO cesizen;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: cesizen
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO cesizen;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cesizen
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: breathing_exercises id; Type: DEFAULT; Schema: public; Owner: cesizen
--

ALTER TABLE ONLY public.breathing_exercises ALTER COLUMN id SET DEFAULT nextval('public.breathing_exercises_id_seq'::regclass);


--
-- Name: schema_migrations id; Type: DEFAULT; Schema: public; Owner: cesizen
--

ALTER TABLE ONLY public.schema_migrations ALTER COLUMN id SET DEFAULT nextval('public.schema_migrations_id_seq'::regclass);


--
-- Name: user_sessions id; Type: DEFAULT; Schema: public; Owner: cesizen
--

ALTER TABLE ONLY public.user_sessions ALTER COLUMN id SET DEFAULT nextval('public.user_sessions_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: cesizen
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: breathing_exercises; Type: TABLE DATA; Schema: public; Owner: cesizen
--

COPY public.breathing_exercises (id, title, description, inhale_seconds, hold_seconds, exhale_seconds, created_at) FROM stdin;
1	Respiration 4-4-6	Cycle simple	4	0	6	2025-09-01 15:48:12.531343+00
2	Coh├®rence cardiaque	5-5 classique	5	0	5	2025-09-01 15:48:12.539759+00
\.


--
-- Data for Name: schema_migrations; Type: TABLE DATA; Schema: public; Owner: cesizen
--

COPY public.schema_migrations (id, filename, run_at) FROM stdin;
1	001_init.sql	2025-09-01 15:48:08.659661+00
2	002_add_unique_breathing_title.sql	2025-09-01 15:48:08.724589+00
\.


--
-- Data for Name: user_sessions; Type: TABLE DATA; Schema: public; Owner: cesizen
--

COPY public.user_sessions (id, user_id, exercise_id, started_at, duration_seconds, notes) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: cesizen
--

COPY public.users (id, email, name, created_at) FROM stdin;
\.


--
-- Name: breathing_exercises_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cesizen
--

SELECT pg_catalog.setval('public.breathing_exercises_id_seq', 2, true);


--
-- Name: schema_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cesizen
--

SELECT pg_catalog.setval('public.schema_migrations_id_seq', 2, true);


--
-- Name: user_sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cesizen
--

SELECT pg_catalog.setval('public.user_sessions_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cesizen
--

SELECT pg_catalog.setval('public.users_id_seq', 1, false);


--
-- Name: breathing_exercises breathing_exercises_pkey; Type: CONSTRAINT; Schema: public; Owner: cesizen
--

ALTER TABLE ONLY public.breathing_exercises
    ADD CONSTRAINT breathing_exercises_pkey PRIMARY KEY (id);


--
-- Name: breathing_exercises breathing_exercises_title_key; Type: CONSTRAINT; Schema: public; Owner: cesizen
--

ALTER TABLE ONLY public.breathing_exercises
    ADD CONSTRAINT breathing_exercises_title_key UNIQUE (title);


--
-- Name: schema_migrations schema_migrations_filename_key; Type: CONSTRAINT; Schema: public; Owner: cesizen
--

ALTER TABLE ONLY public.schema_migrations
    ADD CONSTRAINT schema_migrations_filename_key UNIQUE (filename);


--
-- Name: schema_migrations schema_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: cesizen
--

ALTER TABLE ONLY public.schema_migrations
    ADD CONSTRAINT schema_migrations_pkey PRIMARY KEY (id);


--
-- Name: user_sessions user_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: cesizen
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: cesizen
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: cesizen
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_user_sessions_user; Type: INDEX; Schema: public; Owner: cesizen
--

CREATE INDEX idx_user_sessions_user ON public.user_sessions USING btree (user_id);


--
-- Name: user_sessions user_sessions_exercise_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cesizen
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_exercise_id_fkey FOREIGN KEY (exercise_id) REFERENCES public.breathing_exercises(id) ON DELETE SET NULL;


--
-- Name: user_sessions user_sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cesizen
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict FOfxoqU2eIEzDg4eUWQMBDcN6cpV4rzQLpxbSBOypK7U042fhFQrkW4KqlEy9wf

