{% extends "base.html" %}

{% block title %}CESIZEN - Accueil{% endblock %}

{% block content %}

    <div class="d-flex justify-content-center w-100 margin-top-header-2">

        {% if messages %}
            {% for message in messages %}
                <div class="text-center w-25 alert alert-light" id="message">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

    </div>

    <script>
        setTimeout(function () {
            var alertElement = document.querySelector('.alert');
            if (alertElement) {
                alertElement.classList.remove('show');
                alertElement.classList.add('fade');
            }
        }, 4000);
    </script>

{% endblock %}
