{% extends "base.html" %}
{% load static %}

{% block title %}CESIZEN - Connexion{% endblock %}

{% block content %}
<div class="container my-5 d-flex justify-content-center">
    <div class="glass-card w-100" style="max-width: 600px;">
        <h2 class="text-center exercice-title mb-4">Se connecter</h2>

        <form id="connexion-form" class="d-flex flex-column gap-3 px-3">
            {% csrf_token %}

            <div class="form-group">
                <label for="email" class="form-label">Email*</label>
                <input type="email" name="email" id="email" class="form-control" required>
            </div>

            <div class="form-group position-relative">
                <label for="password" class="form-label">Mot de passe*</label>
                <input type="password" name="password" id="password" class="form-control" required>
                <span class="password-toggle" onclick="togglePassword('password')">👁</span>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="remember-me">
                <label class="form-check-label" for="remember-me">Se souvenir de moi</label>
            </div>

            <div id="message" class="text-center"></div>

            <button type="submit" class="btn btn-primary w-100 mt-2">Connexion</button>

            <div class="text-center mt-2">
                <a href="#" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal" class="text-decoration-none link-opacity-50-hover">Mot de passe oublié ?</a>
            </div>

            <div class="modal fade" id="forgotPasswordModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">Demande de réinitialisation</div>
                    <div class="modal-body">
                        <input type="email" id="emailReset" class="form-control" placeholder="Votre adresse email">
                        <button class="btn btn-primary mt-2" onclick="sendResetCode()">Envoyer un code</button>
                    </div>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
</div>

<script src="{% static 'js/connexion.js' %}"></script>
{% endblock %}
