{% extends "base.html" %}
{% load static %}

{% block title %}CESIZEN - Exercices de respiration{% endblock %}

{% block content %}
<div class="container py-5 bg-relaxe">
    <h2 class="text-center fw-bold mb-5 text-dark">Exercices de Respiration</h2>

    <div id="loader" class="text-center my-4">
        <div class="spinner-border text-primary" role="status"></div>
        <p class="mt-3 text-muted">Chargement des exercices...</p>
    </div>

    <div id="exercices-list" class="row gy-4 justify-content-center"></div>
</div>

<script src="{% static 'js/exercices.js' %}" type="module"></script>
{% endblock %}
