{% extends "base.html" %}
{% load static %}

{% block title %}CESIZEN - Exercices de respiration{% endblock %}

{% block content %}
<div class="container margin-top-header margin-bottom">
    <h2 class="text-center mb-4 blue-text-color">Exercices de Respiration</h2>

    <div id="loader" class="text-center my-4">
        <div class="spinner-border text-primary" role="status"></div>
        <p class="mt-2">Chargement des exercices...</p>
    </div>

    <div id="exercices-list" class="row justify-content-center"></div>
</div>

<script src="{% static 'js/exercices.js' %}" type="module"></script>
{% endblock %}
