{% extends "base.html" %}
{% load static %}

{% block title %}CESIZEN - Exercice de Respiration{% endblock %}

{% block content %}



<div class="exercice-container">

    <div class="text-start mb-4">
        <a href="{% url 'exercices' %}" class="btn btn-outline-primary">
            ← Retour aux exercices
        </a>
    </div>


    <h2 class="exercice-title">Exercice de Respiration</h2>
    <p class="exercice-phase" id="phase">Préparation...</p>

    <div class="exercice-circle" id="circle">
        <span id="timer">0</span>
    </div>

    <div class="exercice-buttons">
        <button id="start-btn" class="btn btn-success">Démarrer</button>
        <button id="stop-btn" class="btn btn-danger">Arrêter</button>
    </div>
</div>

<script id="exercice-data" type="application/json">
    {{ exercice_json|safe }}
</script>

<script src="{% static 'js/exercice_run.js' %}"></script>
{% endblock %}
