{% extends "base.html" %}

{% load static %}

{% block title %}CESIZEN - Profil{% endblock %}

{% block content %}

<div class="d-flex flex-column align-items-center justify-content-center w-100 margin-top-header margin-bottom">    

    <div class="d-flex flex-column align-items-center justify-content-center w-50 shadow bg-light rounded-3 p-4">

        <h2 class="text-center mb-4 blue-text-color">Votre profil</h2>

        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="col-md-10">

                    <table class="table table-bordered table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th class="text-center">Champ</th>
                                <th class="text-center">Valeur</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for field, value in user_info.items %}
                            <tr>
                                <td class="fw-bold text-center align-middle">{{ field }}</td>
                                <td class="text-center">
                                    {% if value %}
                                        {{ value }}
                                    {% else %}
                                        <i>Non spécifié</i>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="text-center mt-3">
                        <a href="{% url 'profil_edit' %}" class="btn blue-bg-color btn-hover-b text-light">Modifier mes informations</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}