* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.full-vh {
    min-height: 100vh;
}
  
.offcanva-custom {
    width: 40vh !important;
}

.blue-bg-color {
    background-color: #85c1e9 !important;
}

.blue-text-color {
    color: #85c1e9 !important;
}

.shadow-bottom {
    box-shadow: 0 10px 10px #abb2b9;
}

.shadow-top {
    box-shadow: 0 -10px 10px #abb2b9;
}   
