* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.bg {
    /* background-image: linear-gradient(78deg, transparent 0%, transparent 36%,rgba(17, 17, 17,0.02) 36%, rgba(17, 17, 17,0.02) 56%,transparent 56%, transparent 100%),linear-gradient(30deg, transparent 0%, transparent 2%,rgba(105, 105, 105,0.02) 2%, rgba(105, 105, 105,0.02) 75%,transparent 75%, transparent 100%),linear-gradient(206deg, transparent 0%, transparent 68%,rgba(3, 3, 3,0.02) 68%, rgba(3, 3, 3,0.02) 99%,transparent 99%, transparent 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255)); */
    /* background-image: linear-gradient(78deg, transparent 0%, transparent 36%,rgba(117,211,151, 0.17) 36%, rgba(117,211,151, 0.17) 56%,transparent 56%, transparent 100%),linear-gradient(30deg, transparent 0%, transparent 2%,rgba(142,227,122, 0.16) 2%, rgba(142,227,122, 0.16) 75%,transparent 75%, transparent 100%),linear-gradient(206deg, transparent 0%, transparent 68%,rgba(236,229,153, 0.21) 68%, rgba(236,229,153, 0.21) 99%,transparent 99%, transparent 100%),linear-gradient(90deg, rgba(91,205,176, 0.26),rgba(91,205,176, 0.26)); */
    background-image: linear-gradient(78deg, transparent 0%, transparent 36%,rgba(100,165,201, 0.17) 36%, rgba(100,165,201, 0.17) 56%,transparent 56%, transparent 100%),linear-gradient(30deg, transparent 0%, transparent 2%,rgba(79,159,195, 0.16) 2%, rgba(79,159,195, 0.16) 75%,transparent 75%, transparent 100%),linear-gradient(206deg, transparent 0%, transparent 68%,rgba(85,114,207, 0.21) 68%, rgba(85,114,207, 0.21) 99%,transparent 99%, transparent 100%),linear-gradient(90deg, rgba(235,232,252, 0.26),rgba(235,232,252, 0.26));
}

.bg2 {
    background-color: coral;
}

.full-vh {
    min-height: 100vh;
}

.offcanva-custom {
    width: 40vh !important;
    /* background-image: linear-gradient(78deg, transparent 0%, transparent 36%,rgba(120,175,234, 0.17) 36%, rgba(120,175,234, 0.17) 56%,transparent 56%, transparent 100%),linear-gradient(30deg, transparent 0%, transparent 2%,rgba(76,88,176, 0.16) 2%, rgba(76,88,176, 0.16) 75%,transparent 75%, transparent 100%),linear-gradient(206deg, transparent 0%, transparent 68%,rgba(175,146,205, 0.21) 68%, rgba(175,146,205, 0.21) 99%,transparent 99%, transparent 100%),linear-gradient(90deg, rgba(70,129,199, 0.26),rgba(70,129,199, 0.26)); */
}

.blue-bg-color {
    background-color: #85c1e9 !important;
}

.blue-text-color {
    color: #85c1e9 !important;
}

.blue-bg-color-selected {
    background-color: #547a93 !important;
}

.btn-hover-b:hover {
    background-color: #547a93 !important;
}

.btn-hover-r:hover {
    background-color: #933939 !important;
}

.shadow-bottom {
    box-shadow: 0px 5px 50px 0px rgba(0,0,0,0.2);
}

.shadow-top {
    box-shadow: 0px -5px 50px 0px rgba(0,0,0,0.2);
}

.shadow {
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
}

.margin-top-header {
    margin-top: 23vh;
}

.margin-top-header-2 {
    margin-top: 16vh;
}

.margin-bottom {
    margin-bottom: 10vh;
}

.border-1 {
    border: solid black 1px;
}

.valid {
    color: rgb(41, 115, 41);
    font-weight: bold;
}
.invalid {
    color: rgb(177, 56, 56);
    font-weight: normal;
}

